*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
.wapaper{
    height: 60px;
    background: #fff;
}
.wapaper h1{
    color: #222222;
    font-size: 30px;
    font-family: 800;
    text-align: center;
    text-transform: uppercase;
    line-height: 60px;
}
#header {
    height: 46px;
    background:#222222;
    z-index: 1;
}
#nav{
    display: inline-block;
    width: 100%;
}
#nav > li {
    display: inline-block;
}
#nav >li> a{
    color: aliceblue;
    text-transform: uppercase;
    margin-left: 60px;
}
#nav li a{
    text-decoration: none;
    line-height:46px ;
    padding: 0 24px ;
    display: block;
}
#nav li:hover .subnav{
    display: block;
    border-radius: 5px;
}
#nav > li:hover > a{
   background: red;
   border-radius: 5px;
}

#nav .subnav li:hover{
   background: red;
}
#nav li {
    position: relative;
}
#nav .subnav{
    border-radius: 5px;
    display: none;
    position:absolute;
    background-color: aliceblue;
    width: 131px;
    list-style: none;
    margin-left: 60px;

}
#nav .subnav a{
    color: #222222;
    text-transform: uppercase;
}
.icon a i {
    margin-left:150px;
    color:aliceblue;
    justify-content: center;
}
.icon a i:hover{
    color: rgb(236, 45, 45);
}

#slider {
    display: flex;
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
    height: 750px;
    background: #fff;
  }
  .box {
    flex: 1;
    overflow: hidden;
    transition: 3s;
    margin: 0 0 15px  15px;
    line-height: 0;
  }
  
.box > img {
    width: 200%;
    height: calc(100% - 40px);
    object-fit:cover; 
    transition: 0s;
  }
  
  .box span {
    line-height: 0;
    font-size: 20px;
    display: block;
    text-align: center;
    height:40px;
    line-height:58px;
    color: aliceblue;
    text-transform: uppercase; 
    background:#222222;
  }
  .box:hover 
  { flex:100%; }
  .box:hover > img {
    width: 100%;
    height: 100%;
  }
  #container{
      height: 2000px;
      background: #fff;
  }
  .content{
    height:600px;
    background:#fff;
    margin-top: 60px;
  }  
  .content h2 {
    text-align: center;
    padding-top: 60px;
    font-weight: 530;
    font-size: 23px;
  }
.content .coment{
   text-align: center;
   font-weight: 200; 
   font-size: 19px;
   padding-top: 6px;
}

.like-new img {
   height:400px;
   width: 290px;
   margin-top:25px;
   background: #fff; 
   margin-left: 60px;
}
.like-new ul {
    display: flex;
    list-style: none;
}
.text {
color: #fff;
position: absolute;
top: 10px
}
.like-new img{
    -webkit-transform: scale(0.8); 
    -moz-transform: scale(0.8); 
    -o-transform: scale(0.8); 
    -webkit-transition-duration: 0.5s; 
    -moz-transition-duration: 0.5s; 
    -o-transition-duration: 0.5s;
    opacity: 0.7; 
   
    }
.like-new img:hover{
    -webkit-transform: scale(1.1); 
    -moz-animation:scale(1.1) ;
    -o-transform: scale(1.1);
    box-shadow: 0px 0px 30px gray; 
    -webkit-box-shadow: 0px 0px 30px gray;
    -moz-box-shadow: 0px 0px 30px gray;
opacity: 1; 
}
.all{
    text-align: center;
    font-weight: 50; 
    font-size: 14px;
    padding-top: 4px;
    text-transform:  uppercase;
    text-decoration: #222222 underline;
    color: #222222;
}
.content-1 h2 {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 540;
    text-decoration: none;
}
.favorite-products{
    height: 700px;
    background: #fff;
}
hr.end-sec {
    margin-top: 60px;
}
hr {
    margin-top: 2px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
hr {
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.favorite-products a img{
    height: 512px;
    width: 407px;
    margin-top: 40px;
    margin-left: 60px;
}

p1 {
    line-height: 50px;
    text-decoration: #222222 underline;
    margin-left:190px;
    color: #222222;
}
p2 {
    line-height: 50px;
    text-decoration: #222222 underline;
    margin-left:370px;
    color: #222222;
}
p3 {
    line-height: 50px;
    text-decoration: #222222 underline;
    margin-left:380px;
    color: #222222;
}
.collection{
    height: 750px;
    background: #fff;
}
.collection h2{
    color: #222222;
    text-transform: uppercase;
}
.collection a iframe {
    height: 600px;
    width: 90%;
    margin-top: 20px;
}
.instagram{
    height: 530px;
    background: #fff;
}

.instagram p {
    font-size: 15px;
    text-align: center;
}
.instagram img {
    width: 319px;
    height: 319px;
    margin-top: 30px;
    margin-left: 35px;
}

.map{
    height: 550px;
    width: 100%;
    background: #fff;
    margin-top: 60px;
}
.fanpage {
    display:inline-flex ;
}
.fanpage >h4{
   font-size: 16px;
   margin-top:30px;
   height: 50px;
}
.fanpage img{
    height: 300px;
    width: 440px; 
    margin-left: 70px;
}
 iframe{
    height: 300px;
    width: 430px; 
    margin-left: 70px;
}
.hotline{
    display: inline-block ;
    margin-top: 80px;
}

.fanpage h4{
    margin-left: 80px;
    font-size: 13px;
    font-weight: 400;
}
.hotline a{
    margin-left: 80px;
    font-size: 20px;
    font-weight: 550;
}   
 .hotline p{
    margin-left: 80px;
    font-size: 13px;
}
hr {
    margin-bottom: 20px;
    border: 0;
    border-top: 1px
    solid #eee;
}
.net {
    padding-left: 70px;
    width: 900px;
}
.map a i{
     padding-left: 9px;
     color: #222222;
    } 
.net .address{
    color: #222222;
    text-decoration: #222222 underline;
    padding-left: 500px;
}
.footer{
    font-size: 14px;
    height: 80px;
    background: #eee;
    display: flex;
    margin-top: 60px;
}
.footer .sp{
    margin-left: 180px;
    margin-top: 30px;
}
.footer .introduce{
   margin-left: 350px;
   margin-top: 30px;
}
.footer .buying{
    margin-left: 350px;
    margin-top: 30px;
 }
.map p {
    margin-left: 30px;
    margin-top: 20px;
    font-size: 12px;
}
